.container
  display: flex
  justify-content: center
  flex-wrap: wrap

@media screen and (min-width: 767px) 
  .container
    display: grid
    grid-template: repeat(2, 170pt)/repeat(2, 200pt)
    grid-gap: 30pt 10pt
    justify-items: center

@media screen and (min-width: 1023px) 
  .container
    display: grid
    grid-template: repeat(2, 170pt)/repeat(3, 200pt)

@media screen and (min-width: 1439px) 
  .container
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 40pt 0

