.container
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding-bottom: 30pt

@media screen and (min-width: 1023px) 
  .container
    display: grid
    grid-template: repeat(2, 230pt)/repeat(3, 200pt)
    grid-gap: 20pt

@media screen and (min-width: 1439px) 
  .container
    grid-template: repeat(2, 230pt)/repeat(4, 1fr)