.mainContainer
  max-width: 900pt
  border: 1px solid red
  margin: 0 auto 0 auto

h1 
  text-transform: uppercase
  padding-left: 20pt
  font-family: Montserrat

p 
  font-family: Work Sans
  margin: 0